<!-- <div class="container">
    <div class="jumbotron mt-3">
      <h1>Angular</h1>
      <p class="lead">OAuth/OpenID Connect Demo using Angular, ASP.NET Core and IdentityServer 4</p>
      <a class="btn btn-lg btn-primary" routerLink="/register" role="button">Signup &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/login" role="button">Login &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/topsecret" role="button">Top Secret Area &raquo;</a>
    </div>
</div> -->

 