<div mat-dialog-title>
    <div class="dialog-title">{{title}}</div>
    <div class="dialog-subtitle">{{'Fields marked with an asterisk'}} <span class="ml-color-error">(*)</span> {{'are mandatory'}}
    </div>
  </div>
  <mat-dialog-content>
    <mat-error *ngIf="errorMessageAPI" class="pb-2">{{errorMessageAPI}}</mat-error>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="logLeaveForm">
      <div class="d-flex ">
        <div class="col-md-12">

          <div class="form-field-double">
            <mat-form-field [class.valid-success]="logLeaveForm.get('type').valid">
              <mat-label>{{'Type'}}<span class="ml-color-error">*</span></mat-label>
              <mat-select matInput formControlName="type">
                <ng-container *ngFor="let type of listType">
                  <mat-option [value]="type">{{type.name}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="logLeaveForm.get('type').invalid">{{'Type is required.'}}</mat-error>
            </mat-form-field>

            <mat-form-field
              [class.valid-success]="logLeaveForm.get('reason').valid">
              <mat-label>{{'Reason'}}<span class="ml-color-error">*</span></mat-label>
              <input matInput formControlName="reason" maxlength="100" autocomplete="off" />
              <mat-error *ngIf="logLeaveForm.get('reason').hasError('required')">
                {{'Reason is required.'}}
              </mat-error>
            </mat-form-field>
          </div>



          <div class="form-field-double">
            <mat-form-field [class.valid-success]="logLeaveForm.get('comment').valid">
              <mat-label>{{'Comment'}}<span class="ml-color-error">*</span></mat-label>
              <input matInput formControlName="comment" maxlength="100" autocomplete="off" />
              <mat-error *ngIf="logLeaveForm.get('comment').hasError('required')">
                {{'Comment is required.'}}
              </mat-error>
            </mat-form-field>
          </div>


          <div class="form-field-double">
            <mat-form-field [class.valid-success]="logLeaveForm.get('fromDate').valid">
              <input matInput [matDatepicker]="pickerFromDate"  [matDatepickerFilter]="disableWeekend" formControlName="fromDate" (focus)="pickerFromDate.open()" >
              <mat-label>{{'Form Date'}}<span class="ml-color-error"> * </span></mat-label>
              <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerFromDate ></mat-datepicker>
              <mat-error *ngIf="logLeaveForm.get('fromDate').hasError('required')">
                {{'Form Date is required.'}}
              </mat-error>
            </mat-form-field>
            
            <mat-form-field [class.valid-success]="logLeaveForm.get('toDate').valid">
              <input matInput [matDatepicker]="pickerToDate"  [matDatepickerFilter]="disableWeekend"  formControlName="toDate" (focus)="pickerToDate.open()" >
              <mat-label>{{'To Date'}}<span class="ml-color-error"> * </span></mat-label>
              <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerToDate ></mat-datepicker>
              <mat-error *ngIf="logLeaveForm.get('toDate').hasError('required')">
                {{'Form Date is required.'}}
              </mat-error>
            </mat-form-field>
          </div>


          <div class="form-field-double">
            <mat-form-field [class.valid-success]="logLeaveForm.get('fromTime').valid">
                <input matInput [ngxTimepicker]="pickerFormTime" formControlName="fromTime" min="9:00 am" max="18:00">
                <mat-label>{{'From Time'}}<span class="ml-color-error"> * </span></mat-label>
                <ngx-material-timepicker-toggle matSuffix [for]="pickerFormTime"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #pickerFormTime></ngx-material-timepicker>
                <mat-error *ngIf="logLeaveForm.get('fromTime').hasError('required')">
                  {{'Form Time is required.'}}
                </mat-error>
            </mat-form-field>


            <mat-form-field [class.valid-success]="logLeaveForm.get('toTime').valid">
              <input matInput [ngxTimepicker]="pickerToTime" formControlName="toTime" min="9:00 am" max="18:00">
              <mat-label>{{'From Time'}}<span class="ml-color-error"> * </span></mat-label>
              <ngx-material-timepicker-toggle matSuffix [for]="pickerToTime"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #pickerToTime></ngx-material-timepicker>
              <mat-error *ngIf="logLeaveForm.get('toTime').hasError('required')">
                {{'Form Time is required.'}}
              </mat-error>
          </mat-form-field>

           
          </div>

          <div class="form-field-double" *ngIf="logLeaveForm.hasError('toDateMoreThanFromDate')">
                  <mat-error>
                    {{'To Date must not be less than From Date'}}
                  </mat-error>
          </div>
          
          <!-- <div class="form-field-double">
            <mat-form-field [class.valid-success]="logLeaveForm.get('fromDate').valid">
              <mat-placeholder>Form Date</mat-placeholder>
              <mat-datetimepicker-toggle [for]="datetimePickerFrom" matSuffix></mat-datetimepicker-toggle>
              <mat-datetimepicker
                #datetimePickerFrom
                type="datetime"
                openOnFocus="true"
                timeInterval="5">
              </mat-datetimepicker>
              <input
                matInput
                formControlName="fromDate"
                [matDatetimepicker]="datetimePickerFrom"
                [matDatepickerFilter]="disableWeekend"
                required
                autocomplete="false">
                <mat-error *ngIf="logLeaveForm.get('fromDate').hasError('required')">
                  {{'Form Date is required.'}}
                </mat-error>
            </mat-form-field>

            <mat-form-field [class.valid-success]="logLeaveForm.get('toDate').valid">
              <mat-placeholder>To Date</mat-placeholder>
              <mat-datetimepicker-toggle [for]="datetimePickerTo" matSuffix></mat-datetimepicker-toggle>
              <mat-datetimepicker
                #datetimePickerTo
                type="datetime"
                openOnFocus="true"
                timeInterval="5">
              </mat-datetimepicker>
              <input
                matInput
                formControlName="toDate"
                [matDatetimepicker]="datetimePickerTo"
                [matDatepickerFilter]="disableWeekend"
                required
                autocomplete="false">
                <mat-error *ngIf="logLeaveForm.get('toDate').hasError('required')">
                  {{'To Date is required.'}}
                </mat-error>
            </mat-form-field>
            
          </div> -->

          <!-- <div class="form-field-double">
            <mat-form-field [class.valid-success]="logLeaveForm.get('dateRange').valid">
              <mat-label>{{'Form Date - To Date'}}<span class="ml-color-error"> * </span></mat-label>
              <input matInput readonly [satDatepicker]="picker" formControlName="dateRange">
              <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              <mat-error *ngIf="logLeaveForm.get('dateRange').hasError('required')">
                {{'Form Date - To Date is required.'}}
              </mat-error>
            </mat-form-field>
          </div> -->

        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="form-buttons text-right">
      <button type="button" mat-button (click)="confirmCancel()"
        class="ml-button ml-button-normal ml-bg-white ml-color-primary" T>CANCEL</button>
      <button type="submit" mat-raised-button (click)="onSubmit()"
        [disabled]="logLeaveForm.invalid"
        class="ml-button ml-button-normal ml-bg-primary ml-color-white btn-shadow">
        {{submitText}}
      </button>
    </div>
  </mat-dialog-actions>
  