﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = "_LayoutLogin";
}

<div class="header-sub">
    <a href="/Home/Index"><img src="~/EMS/images/home-q/logo_ft.png" alt=""></a>
</div>


@*<h2>@ViewData["Title"].</h2>
    <h3>Associate your @ViewData["LoginProvider"] account.</h3>*@

<div class="wrapper_container" style="background-image: url(../EMS/images/home-q/backg-login.png);">
    <div class="wrap" style="max-width: 600px">
        <div class="wrap_title">Xác thực thông tin tài khoản</div>
        <div class="_item">
            <div class="wrap_input col-md-12">Hệ thống cần xác nhận những thông tin còn lại, vui lòng xác nhận để đăng nhập tiếp tục đăng nhập</div>
            <div class="wrap_input">
                <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-12 control-label text-left"></label>
                        <div class="col-md-12">
                            <input asp-for="Email" class="form-control" readonly="readonly" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="col-md-12 control-label text-left"></label>
                        <div class="col-md-12">
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="col-md-12 control-label text-left"></label>
                        <div class="col-md-12">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-lg btn-success">Đăng ký</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}