﻿@model AuthorizeViewModel

@{
    Layout = "_LayoutLogin";
}


<script src="~/scripts/jquery-1.9.0.js"></script>

<div class="header-sub">
    <a href="/Home/Index"><img src="~/EMS/images/home-q/logo_ft.png" alt=""></a>
</div>


<div class="wrapper_container" style="background-image: url(../EMS/images/home-q/backg-login.png);">

    <div class="wrap"  style="max-width: 600px">
        <div class="wrap_title">Ủy quyền</div>
       
                <div class="_item">
            
                    <p class="lead text-left">Bạn có chắc chắn ủy quyền cho trang vừa yêu cầu đăng nhập?</p>
                    <div class="wrap_input">
                        <form method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="request_id" value="@Model.RequestId" />
                            <input class="btn btn-lg btn-success" name="submit.Accept" id="btnAccept" type="submit" value="Đồng Ý" />
                            <input class="btn btn-lg btn-danger" name="submit.Deny" type="submit" value="Hủy" />
                        </form>
                    </div>
                </div>
    </div>
</div>


    @*<div class="jumbotron">
        <h1>Ủy quyền</h1>
        <p class="lead text-left">Do you want to grant <strong>@Model.ApplicationName</strong> access to your data? (scopes requested: @Model.Scope)</p>
     

        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="request_id" value="@Model.RequestId" />
            <input class="btn btn-lg btn-success" name="submit.Accept" id="btnAccept" type="submit" value="Đồng Ý" />
            <input class="btn btn-lg btn-danger" name="submit.Deny" type="submit" value="Hủy" />


            <script type="text/javascript">
                    $(document).ready(function() {
                        $("#btnAccept").click();
                    });
                </script>

        </form>
    </div>*@
