/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-image: url("../backGround.jpg");
     background-size: 100%;
     background-repeat: no-repeat;
     }

.container {
    max-width: 1623px !important;   
}

main { padding-top: 30px !important;}

.bg-dark {
    background-color: #3a6b9c!important;
}


.form-field-single {
    display: block;
    margin-bottom: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .form-field-double {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    mat-form-field {
      flex: 1;
      margin-right: 13px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }


.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.select-column {
  text-decoration: underline !important;
  cursor: pointer !important;
  color: #5771ef !important;
}


.k-tooltip {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(236, 60, 60, 0.75) !important;
  border-color: rgba(138, 21, 21, 0.75) !important;
}