.dialog-content {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.dialog {
  min-width: 400px;
  min-height: 170px;
}

.bottom-cs-dialog {
  padding-bottom: 30px;
}