<div class='dialog'>
  <mat-dialog-content class='dialog-content'>
    <div *ngIf="isHtmlTitle" [innerHTML]="data.title"></div>
    <div *ngIf="!isHtmlTitle">{{data.title}}</div>
    <div *ngIf="isHtmlBody && data?.body" [innerHTML]="data.body"></div>
    <div *ngIf="!isHtmlBody && data?.body">{{data.body}}</div>

  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-center bottom-cs-dialog">
    <button mat-button [mat-dialog-close]="false" class="ml-button ml-button-normal">{{data.cancelButton}}</button>
    <button 
      mat-button 
      [mat-dialog-close]="true" 
      class="ml-button ml-button-normal ml-color-white"
      [ngClass]="{
        'ml-bg-primary': color === 'primary',
        'ml-bg-error': color === 'error'
      }" 
      cdkFocusInitial>
      {{data.confirmButton}}
    </button>
  </mat-dialog-actions>
</div>