<header> 
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>Log Leave System</strong>
      </a>
      <nav *ngIf="!isAuthenticated" class="my-2 my-md-0 mr-md-3">
         <a class="p-2 text-light" routerLink="/login">Login</a>
      </nav>
      <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">
        <a *ngIf="roles=='admin'" class="p-2 text-light" routerLink="/manageuser">Manager User</a>
        <a *ngIf="roles=='admin'" class="p-2 text-light" routerLink="/approvelleave">Approvel Log Leave</a>
        <a *ngIf="roles=='employee'" class="p-2 text-light" routerLink="/logleave">Log Leave</a> 
        <a class="p-2 text-light" (click)="signout()" href="javascript:void(0)">Signout:  ({{roles}} : {{name}})</a>             
      </nav>
    </div>    
  </div>
</header>
