﻿<!DOCTYPE html>


<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EMS</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/EMS/stylesheets/sass/dist/main.css">
    <link rel="stylesheet" href="~/EMS/stylesheets/sass/dist/partials.css">
    <link rel="stylesheet" href="~/EMS/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/EMS/bower_components/wowjs/css/libs/animate.css">
    <link rel="stylesheet" href="~/EMS/bower_components/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="~/EMS/bower_components/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/EMS/bower_components/aos/dist/aos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/EMS/bower_components/wowjs/dist/wow.min.js" type="text/javascript"></script>
    <script src="~/EMS/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/EMS/bower_components/Swiper/dist/js/swiper.min.js" type="text/javascript"></script>
    <script src="~/EMS/bower_components/fancybox/dist/jquery.fancybox.min.js" type="text/javascript"></script>
    <script src="~/EMS/bower_components/aos/dist/aos.js" type="text/javascript"></script>
    <script src="~/EMS/scripts/main.js" type="text/javascript"></script>

</head>
<body>
    <div class="signup-body">
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
