<kendo-grid
            [kendoGridBinding]="view"
            [height]="533"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true"
            [sortable]="true"
            (dataStateChange)="onStateChange($event)"
            (add)="addHandler($event)"
            (edit)="editHandler($event)"
            (remove)="removeHandler($event)"
            [navigable]="true"
            [columnMenu]="{ filter: true }"
            >
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add Log Leave</button>
                <button class="k-button" (click)="searchList()">Refresh List</button>
            </ng-template>

            <kendo-grid-column field="typeName" editor="string" title="Type"></kendo-grid-column>
            <kendo-grid-column field="reason" editor="date" title="Reason"></kendo-grid-column>
            <kendo-grid-column field="comment" editor="string" title="Comment"></kendo-grid-column>

            <!-- <kendo-grid-column field="userFullName" title="User"></kendo-grid-column> -->
            <kendo-grid-column field="approverName" title="Approver"></kendo-grid-column>
            
            <kendo-grid-column field="createDate" title="Created Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.createDate | date: 'MM/dd/yyyy'}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="fromDate" title="From Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.fromDate | date: 'MM/dd/yyyy hh:mm a'}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="toDate" title="To Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.toDate | date: 'MM/dd/yyyy hh:mm a'}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="statusName" title="Status"></kendo-grid-column>
            <kendo-grid-column field="approvelComment" title="Approvel Comment"></kendo-grid-column>

            <kendo-grid-command-column title="command" width="200">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand [primary]="true">Edit</button>
                    <button kendoGridRemoveCommand>Remove</button>
                    <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                    <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                </ng-template>
            </kendo-grid-command-column>

 </kendo-grid>