<kendo-grid
            [kendoGridBinding]="view"
            [height]="533"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true"
            [sortable]="true"
            (dataStateChange)="onStateChange($event)"
            [navigable]="true"
            [columnMenu]="{ filter: true }"
            >
            
            <ng-template kendoGridToolbarTemplate>
                <button class="k-button" (click)="searchList()">Refresh List</button>
            </ng-template>

            <kendo-grid-column field="typeName" editor="string" title="Type"></kendo-grid-column>
            <kendo-grid-column field="reason" editor="date" title="Reason">
                <ng-template kendoGridCellTemplate let-dataItem>
                   <a class="select-column" (click)="viewHandler(dataItem)">{{dataItem.reason}}</a> 
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="comment" editor="string" title="Comment"></kendo-grid-column>

            <kendo-grid-column field="userFullName" title="User"></kendo-grid-column>
            
            <kendo-grid-column field="createDate" title="Created Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.createDate | date: 'MM/dd/yyyy'}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="fromDate" title="From Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.fromDate | date: 'MM/dd/yyyy hh:mm a'}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="toDate" title="To Date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.toDate | date: 'MM/dd/yyyy hh:mm a'}}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="statusName" title="Status"></kendo-grid-column>
            <!-- <kendo-grid-column field="approvelComment" title="Admin Comment"></kendo-grid-column> -->

            <kendo-grid-command-column title="command" width="200">
                <ng-template kendoGridCellTemplate let-isNew="isNew" kendoGridCellTemplate let-dataItem >
                    <button  kendoGridEditCommand  [primary]="true" *ngIf="dataItem.status==0 || dataItem.status == '' || dataItem.status == null" (click)="approveHandler(dataItem)"   >Approve</button>
                    <button *ngIf="dataItem.status==0 || dataItem.status == '' || dataItem.status == null" (click)="rejectHandler(dataItem)" class="k-button ng-star-inserted">Reject</button>
                    <button *ngIf="dataItem.status==1 || dataItem.status == 2"  (click)="revertHandler(dataItem)" class="k-button ng-star-inserted">Revert</button>
                </ng-template>
            </kendo-grid-command-column>

 </kendo-grid>