// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'Montserrat', sans-serif;
} 

@font-face {
	font-family: 'UTM_Charlotte'; 
	src: url('../../../fonts/UTM_Charlotte.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}