<kendo-grid
          [kendoGridBinding]="view"
          [height]="533"
          [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
          [pageable]="true"
          [sortable]="true"
          (dataStateChange)="onStateChange($event)"
          (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
          (save)="saveHandler($event)" (remove)="removeHandler($event)"
          (add)="addHandler($event)"
          [navigable]="true"
          [columnMenu]="{ filter: true }"
        >

        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add User</button>
            <button class="k-button" (click)="search()">Refresh List</button>
            
            <div>(Node : password default "Abc@123")</div>
        </ng-template>

        <kendo-grid-column field="userName" title="User Name (Email)" width="300">
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-isNew="isNew">
                <input #inputUserNAme class="k-textbox" [formControl]="formGroup?.get(column.field)">
                <kendo-popup [anchor]="inputUserNAme" *ngIf="formGroup?.get(column.field)?.invalid && !(isNew && formGroup?.get(column.field)?.untouched)" popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg" >
                  <span *ngIf="formGroup?.get(column.field)?.hasError('email')"><span class="k-icon k-i-warning"></span>User Name is email type</span>
                  <span *ngIf="formGroup?.get(column.field)?.hasError('required')"><span class="k-icon k-i-warning"></span>User Name is required</span>
                </kendo-popup>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="code"  title="Employee Code (Min length 6 character)">
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-isNew="isNew">
                <input #inputCode class="k-textbox" [formControl]="formGroup?.get(column.field)">
                <kendo-popup [anchor]="inputCode" *ngIf="formGroup?.get(column.field)?.invalid && !(isNew && formGroup?.get(column.field)?.untouched)" popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg" >
                    <span *ngIf="formGroup?.get(column.field)?.hasError('minlength')"><span class="k-icon k-i-warning"></span>Employee Code has min length 6</span>
                    <span *ngIf="formGroup?.get(column.field)?.hasError('required')"><span class="k-icon k-i-warning"></span>Employee Code is required</span>
                  </kendo-popup>
            </ng-template>

        </kendo-grid-column>

        <kendo-grid-column field="fullName"  title="Full Name (Min length 6 character)" >
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-isNew="isNew">
                <input #inputFullName class="k-textbox" [formControl]="formGroup?.get(column.field)">
                <kendo-popup [anchor]="inputFullName" *ngIf="formGroup?.get(column.field)?.invalid && !(isNew && formGroup?.get(column.field)?.untouched)" popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg" >
                    <span *ngIf="formGroup?.get(column.field)?.hasError('minlength')"><span class="k-icon k-i-warning"></span>Full Name has min length 6</span>
                    <span *ngIf="formGroup?.get(column.field)?.hasError('required')"><span class="k-icon k-i-warning"></span>Full Name is required</span>
                  </kendo-popup>
            </ng-template>

        </kendo-grid-column>

        

        <kendo-grid-column field="phoneNumber"  title="Number Phone" >
            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-isNew="isNew">
                <input #inputPhoneNumber class="k-textbox" [formControl]="formGroup?.get(column.field)">
                <kendo-popup [anchor]="inputPhoneNumber" *ngIf="formGroup?.get(column.field)?.invalid && !(isNew && formGroup?.get(column.field)?.untouched)" popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg" >
                    <span *ngIf="formGroup?.get(column.field)?.hasError('pattern')"><span class="k-icon k-i-warning"></span>Number Phone is type phone</span>
                    <span *ngIf="formGroup?.get(column.field)?.hasError('required')"><span class="k-icon k-i-warning"></span>Number Phone is required</span>
                  </kendo-popup>
            </ng-template>

        </kendo-grid-column>

        <kendo-grid-column field="birthday"  editor="date" title="Birthday" width="200">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.birthday | date: 'MM/dd/yyyy'}}
            </ng-template>

            <ng-template kendoGridEditTemplate let-dataItem let-column="column" let-isNew="isNew">
                <kendo-datepicker #inputBirthday  [max]="maxDate" [format]="'MM/dd/yyyy'" [formControl]="formGroup?.get(column.field)"></kendo-datepicker>
            </ng-template>

        </kendo-grid-column>


        <kendo-grid-command-column title="command" width="200">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand [primary]="true">Edit</button> 
                <button kendoGridRemoveCommand>Remove</button>
                <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
</kendo-grid>